* {
  box-sizing: border-box;
  margin: 0;
  height: 0;
}

html, body {
  width: 100%;
  height:100%;
  overflow: hidden;
}

body {
  min-width: 100vh;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}